Source: geoserver
Section: science
Priority: extra
Maintainer: Ariel Nunez <ingenieroariel@gmail.com>
Homepage: http://geoserver.org

Package: geoserver
Architecture: all
Build-Depends: debhelper (>= 7.0.50~), unzip
Depends: tomcat7
Description:  High performance, standards-compliant map and geospatial data server.
 GeoServer is an open source software server written in Java that allows users to share 
 and edit geospatial data.
